/* Mobile Stylesheet - Dark Mode Theme */

body {
  background-color: #79BAEC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  background-color: gainsboro;
  padding: 20px 0px 40px 0px;
}

nav {
  text-decoration: underline;
}

h2 {
  margin: 25px;
}

main{
    place-items: center;
}

article {
  display: inline-block;
  overflow: scroll;

  border-style: solid;
  border-color: black;
  border-radius: 10px;
  place-items: center;
  margin: 25px;
  width: 400px;

  background-color: aliceblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
